<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database2Administrator.Properties.Settings.olympicConnectionString"
            connectionString="Data Source=guftall.ir,25333;Initial Catalog=olympic;User ID=SA;Password=Rr12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>